# Ignora TUDO por padrão
/*

# Permite apenas as pastas específicas
!.gitignore
!CLAUDE.md
!README.md
!LICENSE
!CHANGELOG.md
!.mcp.json.example
!agents/
!skills/
!hooks/
hooks/logs/
!setup/
!mcp/
setup/.local-state.json
setup/bootstrap.log

# Adicione aqui outras pastas quando quiser versionar:
# !workspace/
# !plugins/
mcp/mem0-server/__pycache__/
mcp/mem0-server/.venv/
mcp/mem0-server/uv.lock
mcp/github-server/.venv/
mcp/github-server/__pycache__/
